@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

.projects {
  background-color: rgba(0, 0, 0, 0.651);
  background-image: linear-gradient(120deg,#414447fb 20%,#000000f1   40%, #141414e5  74%, #242424e5 80%,#000000e5 85%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 5px;
    font-family: "Poppins";
    color:rgb(253, 236, 175);
    overflow: hidden;
  }
  .container {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
      width: 250px;
      height: 90%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      transition: all 1s ease;
      margin: 3.5px 30px;
      &:hover {
        transform: scale(1.1);
      }
      .img{
        border-radius: 50px;
        img{
          
        height:100%;
        width:100%;
        }
      }
    }
  }
  button {
    border: none;
    a{
      text-decoration: none;
      color:black;
      background-color: cadetblue;
      padding:2px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .projects {
    h1 {
      max-width: 250px;
      min-width: 200px;
    }
    .container {
      width: 80%;
      height: 90%;
      margin: 50px;
      .card {
        margin: 10px 10px;
      }
    }
  }
}
