@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

.skills{
    background-color: rgba(0, 0, 0, 0.651);
  background-image: linear-gradient(120deg,#494e53fb 30%,#000000f1   70%, #201e1e  84%);
    h1{
        margin-top: 50px;
        color:rgb(253, 236, 175);
        letter-spacing: 3px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 5px;
        height: 80px;
    }
    .skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

.container{
    background-color: rgba(24, 24, 24, 0.6);
    padding:20px 20px;
    height:auto;
    img{
        width:35%;
        height:90%;
        padding:10px 10px;
        &:hover{
            cursor: pointer;
            background-color: rgba(78, 78, 78, 0.473);
            border-radius: 5px;

            font-size: 10px;
        }
    }
    .col-lg-3{
        overflow: hidden;
    }
}

@media screen and (max-width:700px) {
    .skills{
        h1{
            font-size: 15px;
        }
    }
}